{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
<div class="leaderboard">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Total Value</th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(length) %}
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Total Value</th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
